@media(max-width:700px){
    #home h1{
        font-size: 24px;
    }

    .headlogo img{
        /* position: relative; */
        top: -5vh;
        left:0;
        scale: 1.5;
        padding: 0; 
        margin: 0;
    }
   #navbar ul li{
    display: block;
    
   }

   a{
    color: white;
   }
   ul{
    margin-top: 50px;
    flex-direction: column;
   }
   #navbar{

    position: absolute;
    background: #5e5656;
    height: 100vh;
    width:200px;
    top:0;
    right: -200px;
    text-align: left;
    z-index:2;
   }

   #navbar .fa{
        display: block;
        color:rgb(175, 172, 172);
        margin: 20px;
        font-size: 24px;
        cursor: pointer;
   }

   .headlogo .fa{
        display: block;
        color:rgb(0, 0, 0);
        /* donemargin: 20px; */
        font-size: 24px;
        cursor: pointer;
   }
    *{
        font-size: 16px;
    }

    #home{
        margin-top: 10vh;
    }

    #logo{
        opacity: 0;
    }

    .top{
        margin-top: 10%;
    }

    .headlogo img{
        right:20%;
        width:100%
    }

    .aboutus{
        width: 100%;
        overflow: hidden;
        /* margin: 10vh auto 10vh auto; */
    }

    .aboutus p{
        font-size: 20px;
    }
}