*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    color: black;
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: rgb(182, 176, 176);
}
.container{
    margin: auto;
    max-width: 85vw;
    min-height: auto;
}

.headlogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headlogo img{
    position: relative;
    display: flex;
    scale: 0.4;
    padding: 0; 
    margin: 0;
    margin-top: -100px;
    margin-bottom: -50px;
}

a{
    text-decoration: none;
}

.home h2{
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 20px;
    z-index: 99;
}

.services h1{
    font-size: 64px;
    text-align: center;
}

.services h2{
    font-size: 30px;
    text-align: center;
    margin: 5% auto 5% auto;
}

.services h3{
    
    font-size: 35px;
    margin: 10px auto 10px auto;
}



.services .li{
    width:70vw;
    margin: auto;
    font-size: 24px;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 30px;
    padding: 20px;
    z-index:1;
}

.services .li:first-of-type{
    margin-top: 100px;
}

.servicesimg{
    border-radius: 20px;
    margin-top: 3rem;
    scale: 1rem;
    width:50%;
    height:30%;
}


















@media(max-width:700px){
    .home h2{
        width: 70%;
    }

    .headlogo img{
        scale: 0.3;
    };
    
}