/* font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Prism', cursive; 
font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    color: black;
    
}


  
  
  
html{
    background-color: rgb(182, 176, 176);
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
#navbar ul li{
    list-style: none;
    margin: auto;
}



.container{
    margin: auto;
    max-width: 85vw;
    min-height: auto;
}

.top{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.headlogo{
    display: flex;
}
.headlogo img{
    position: relative;
    top: -1vh;
    left:50%;
    scale: 2;
    width:10vw;
    padding: 0; 
    margin: 0;
    margin-bottom: 100px;
}
#navbar ul{
    font-size: 24px;
    display: flex;
    gap: 30px;
}

#navbar ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background-color: aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#navbar ul li:hover::after{
    width:100%;
}



/* //////////////////////////////////////////////////////////////               home start             /////////////////////////////////////////////////////////////////////////*/                           
.home{
    text-align: center;
    
}

#bg{
    position: relative;
    bottom: 30%;
    opacity: 0.1;
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.home h2{
    font-size: 30px;
}

.home h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.home hr{
    max-width: 50%;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: black;
    border: none;
    height: 5px;
}
/* //////////////////////////////////////////////////////////////               home  end             /////////////////////////////////////////////////////////////////////////*/                           





/*/////////////////////////////////////////////////////////////////////////////      aboutus start     /////////////////////////////////////////////////////////////////////// */
.aboutus{
    /* margin-bottom: 10px; */
    margin-top: 15vh;
    width: 60%;
}

/* .abud{
    background-color: rgb(212, 204, 204);
    border-width: 100px solid rgb(212, 204, 204);
} */

.luffyimg{
    scale: 0.4;
    margin: auto auto auto 25vw;
    position: relative;
    bottom: 850px;
    left: 400px;
    box-shadow: 20px 30px 100px black;
    
}


.aboutus p{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
  
}
.aboutus h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
/* /////////////////////////////////////////////////////////////////////////////      aboutus end     //////////////////////////////////////////////////////////////////////////////////*/





/*///////////////////////////////////////////////////////////////////////     servicees start        /////////////////////////////////////////////////////////////////////////////// */
.services{
    margin-top: -100vh;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 200px;
}

.services h1{
    font-size: 64px;
    text-align: center;
}

.services h2{
    font-size: 30px;
    text-align: center;
    margin: 2% auto 2% auto;
    width: 60%;
}

.services h3{
    text-align:start;
    position: relative;
    left: 10%;
    top:20px;
    font-size: 35px;
    
}

/* .services h3::after{
    content: '';
    border: 0%;
    max-width: 90;
    height: 10px;
    background-color: aqua;
    display: block;
    margin: auto;
    transition: 0.3s;
    overflow: hidden;
}

.services h3:hover::after{
    border:100%;
} */

.services .li{
    width:50vw;
    margin: auto;
    font-size: 24px;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 30px ;
    padding: 20px;
    z-index:1
}

.services .li:hover{
    box-shadow: 0.1px 0.1px 30px white;
}

.services .li .btn{
    position: relative;
    left: 70%;
    bottom: 25px;
}

.services .li .btn{
    color: white;
    font-size: 24px;
    background: black;
    border-radius: 20px;
    width:20%;
    text-align: center;
}

.services .li .btn a{
    color:white;
}

.services .li a:hover{
    color:black;
}

.services .li .btn:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}

.services .li:first-of-type{
    margin-top: 100px;
}

.servicesimg{
    border-radius: 20px;
    margin-top: 3rem;
    scale: 1rem;
    width:50%;
    height:30%;
}

/*///////////////////////////////////////////////////////////////////////     servicees start        /////////////////////////////////////////////////////////////////////////////// */