*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    color: black;
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: rgb(182, 176, 176);
}

a{
    text-decoration: none;
    
    font-size: large;
}
#navbar ul li{
    list-style: none;
    /* margin: auto; */
}



.container{
    margin: auto;
    max-width: 85vw;
    min-height: auto;
}

.top{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.headlogo{
    display: flex;

}
.headlogo img{
    position: relative;
    top: -4vh;
    left:50%;
    scale: 3;
    width:10vw;
    padding: 0; 
    margin: 0;
}
#navbar ul{
    font-size: 24px;
    display: flex;
    gap: 30px;
}

#navbar ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background-color: aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#navbar ul li:hover::after{
    width:100%;
}








