@media(max-width:700px){
    #home h1{
        font-size: 24px;
    }

    .headlogo{
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .headlogo img{
        top: -5vh;
        left:0;
        scale: 0.9;
        padding: 0; 
        margin: 0;
    }
   

   .nav-link{
    display: flex;
    flex-wrap: nowrap;
   }
   #navbar ul li::after{
    content: none;
    width:0%;
    height: 0px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    
}

   a{
    color: pink;
   }
   ul{
    margin-top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
   }

   .top{
    flex-direction: column;
   }
   #navbar{
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    background: transparent;
    margin-top:50px;
    box-shadow: 0px 0px 20px;
   }

   
   .bg img{
    width: auto;
    object-fit: contain;
   }
   .headlogo .fa{
        display: block;
        color:rgb(0, 0, 0);
    
        font-size: 24px;
        cursor: pointer;
   }
    *{
        font-size: 16px;
    }

    .home h1{
        line-height: 100px;
    }
    #home{
        margin-top: 10vh;
    }

    #logo{
        opacity: 0;
    }

    .top{
        margin-top: 10%;
    }

    .headlogo img{
        right:20%;
        width:100%
    }

    .aboutus{
        width: auto;
        overflow: hidden;
        text-align: center;
    }

    .aboutus p{
        font-size: 20px;
    }

    .services{
        margin-top: -270%;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 200px;
    }

    .services h1{
        font-size: 45px;
    }
    .services h2{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: -30px;
        width: auto;
    }

    .services .li{
        display: flex;
        width:90%;
        justify-content: center;
        align-items: center;
    }

    .services .li .btn a{
        font-size: 20px;
    }

    .services .li h3{
        margin-bottom: 10%;
    }
    .services .li .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services .li .btn{
        color: white;
        font-size: 20px;
        background: black;
        border-radius: 10px;
        width:50%;
        text-align: center;
        position: relative;
        left: 10px;
        top: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .services .li .vfx{
        font-size: 30px;
        font-weight: 1500;
    }

    .services .li .f{
        top:90px
    }
}

